@font-face {
  font-family: "di-icons";
  src: url("di-icons.eot?t=1766305578264"); /* IE9*/
  src: url("di-icons.eot?t=1766305578264#iefix") format("embedded-opentype")
      /* IE6-IE8 */,
    url("di-icons.woff2?t=1766305578264") format("woff2"),
    url("di-icons.woff?t=1766305578264") format("woff"),
    url("di-icons.ttf?t=1766305578264") format("truetype"),
    url("di-icons.svg?t=1766305578264") format("svg");
}

[class^="di-"],
[class*=" di-"] {
  font-family: "di-icons" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.di-arrow-left::before {
  content: "\ea01";
}
